#root{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@font-face {
    font-family: dw;
    src: url(/fonts/DoctorBeef-DOyyd.ttf);
}

@font-face {
    font-family: dw-text;
    src: url(/fonts/SyneMono-Regular.ttf);
}